[Unit]
Description=Ceph Health LED Monitor
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /root/cephhealth.py

[Install]
WantedBy=multi-user.target
